/* body{
    background-color: black;
    color: white;
    } */

    ul{
        color: white;
        /* list-style: none; */
    }

    li::before{
        /* Высота, ширина, цвет квадрата */
        content: '';
        height: 10px;
        width: 10px;
        background-color: red;
        /* Выравнивание */
        margin-right: 10px;
        /* скругление углов */
        border-radius: 50%;
    
    }
    li{
        /* display: flex; */
        /* Выравнивание */
        align-items: center;        
    }

    /* золотое правило 
    размер шрифта
    межстрочный интервал*/
    /* font-size: 16px;
    line-height: 20px; */
    img{
        /* рамка */
        border: 10px solid rgb(127, 218, 8);
        /* радиус 
        отступы начинаются с углов*/
        border-radius: 100px 200px 100px 200px;
        /* добовляем тени */
        box-shadow:  -30px 44px 33px 7px rgb(114, 40, 133);
        /* отцентровать картинку, переводим картинку(строку в блорк) */
        margin: 0 auto;
        display: block;
    }