/* .overflow{
    height: 500px;
    width: 500px;
    margin: 0 auto;
    background-color: rgb(220, 220, 255);

    overflow: auto;
    что бы текст поместился в блок с прокруткой

} */

.block-1{
    position: relative;
}

.block-2{
    
}

.block-3{
    
}